.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.skills__box {
    position: relative;
    width: 15%;
    height: 10rem;
    background-color: white;
    padding: 1rem;

}

.skills__box ul {
    position: absolute;
    bottom: 1rem;
}

.skills__name {
    font-weight: bold;
    margin-top: .5rem;
}

@media (max-width: 768px) {
    .skills__line {
        justify-content: center;
    }

    .skills__box {
        width: 25%;
        height: 7rem;
        margin: 1rem;
    }
}

@media (max-width: 425px) {
    .skills__line {
        gap: 1rem;
    }

    .skills__box {
        width: 40%;
        margin: 0;
        padding: .5rem;
    }
}