.skills{
    padding: 2rem;
    background-color:var(--color-sec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}