.formcontato {
    background-color: var(--color-ter);
    padding: 4rem 2rem;
}

.formcontato__contacto {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    justify-content: space-between;
    position: relative;
}

@media (max-width:768px) {
    .formcontato {
        padding: 2rem;
    }

    .formcontato__contacto {
        padding-top: 0;
    }
}