.title__div {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color-sec);
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
@media (max-width:425px){
   .title__div{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   }
}